@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

.body,html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F1F6F9;
    overflow-x: hidden;
    
}
.about{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    background-color: #F1F6F9;
    margin-top:#F1F6F9 100px;
    margin-bottom: #F1F6F9 80px;
 }
 
 .about-img{
     margin-bottom: 20px;
     border-radius: 5%;
 }

.about-head p{
    font-family: "Lobster", cursive;
    font-size: 1rem;
}

 .about-h1{
    font-size: 1.5rem;
    padding-top: 2%;
 }
 
.about-h2{
    font-family: "Lobster", cursive;
    font-weight: bold;
    padding-bottom: 1%;
    font-size: 2.0rem;

}

 .img{
    border-radius: 20%;
 }

 .about-para{
     max-width: 900px;
     font-size: 1rem;
 }
 
 .about-logo{
     gap: 20px;
     padding-top: 1%;
 }

 .git{
    border-radius: 50%;
 }

  

/* @keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

 .logo{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
 }

 .logo:before,
 .logo:after {
   position: absolute;
   top: 0;
   width: 100px;
   height: 100%;
   content: "";
   z-index: 2;
 }
 
 .logo:before {
   left: 0;
 }
 
 .logo:after {
   right: 0;
 }


.logo:hover .logo-slide{
    animation-play-state: paused;
}

 .logo-slide{
    display: inline-block;
    animation: 35s slide infinite linear;
 }

 .logo-slide img{
    height: 50px;
    margin: 0 40px;
 } */
